PORT_SERIES = 'Your COM port here'
BAUD_RATE = your baud rate here
MQTT_BROKER = 'Your MQTT broker address here'
MQTT_PORT = your MQTT broker port here
MQTT_TOPIC = 'your MQTT topic here'
DB_PASSWORD = 'Your database password here'