PORT_SERIES=COM3
BAUD_RATE=9600
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=sensors/readings
MQTT_TOPIC_MESURES=bresil/+/mesures
DB_URL=postgresql+psycopg://postgres:postgres@localhost:5432/iot_data
